@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.origConsultant{
   
    margin-left: 100px;
}
@media only screen and (max-width:1024px){
    .origConsultant{
        display: none  !important ;
    }
    .dupConsultant{
        display: block  !important ;
    }
 }

 @media only screen and (min-width:1025px){
    .dupConsultant{
        display: none  !important ;
    }
    .origConsultant{
        display: block  !important ;
    }
  
 }
 .ConsultantdetBox{
    height: 750px !important;
    font-family: 'Poppins', sans-serif;

 }
 .consultantTab{
    width: 250px;
    padding-top: 170px !important;
    margin-left: -120px;  
 }
 .consultantDash{ 
    align-self:flex-start  !important;
    text-transform: capitalize !important;
    padding-left: 70px !important;  
    padding-right: 100px !important; 
    font-size: 14px !important;
    font-weight: 650 !important;
    margin-left: -20px !important; 
 }
 .consultantAppt{
    align-self:flex-start !important;
    text-transform: capitalize !important;
    padding-left: 70px !important;  
    padding-right: 90px !important; 
    font-size: 14px !important;
    font-weight: 650 !important;
    margin-left: -15px !important; 
 }
 .consultantHis{
    align-self:flex-start !important;
    text-transform: capitalize !important;
    padding-left: 70px !important;  
    padding-right: 130px !important; 
    font-size: 14px !important;
    font-weight: 650 !important;
    margin-left: -15px !important; 
 }
 .consultantProf{
    align-self:flex-start !important;
    text-transform: capitalize !important;
    padding-left: 70px !important;  
    padding-right: 130px !important; 
    font-size: 14px !important;
    font-weight: 650 !important;
    margin-left: -16px !important; 
 }
 button.consultantOut{
    align-self:flex-start !important;
    text-transform: capitalize !important;
    padding-left: 0px !important;  
    padding-right: 0px !important; 
    font-size: 14px !important;
    font-weight: 650 !important;
    margin-left: 80px !important; 
    border: none !important;
    background-color: white !important;
    margin-top: 20px;
    cursor: pointer;
 }
 button.consultantOut:focus{
    background-color: white !important; 
 }
 button.consultantOut:active{
    background-color: white !important; 
 }
 button.consultantOut:hover{ 
    color: #23BDB8 !important;
 }
 img.ConsultantTabImage{ 
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin-left: 50px;
    margin-top: 50px;
 }
 .ConsultantTabPanel1{ 
   background-repeat: no-repeat; 
   background-size: cover;
    /* background-color: #F5FFFA; */
    /* background-image:   linear-gradient( to right,#F5FFFA 1%,#a2e4c3,#7de6b1,#85ebe8, #80e7e4 , #45c9c5    ); */
    width:1270px ;
    max-width: 100%;
    /* background:linear-gradient(to right, #23BDB8, #8EE7BA) */
 }
 .ConsultantTabPanel2{
    background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
    background-repeat: no-repeat; 
    background-size: cover; 
    max-width: 100%;
    width:1270px ;
 }
 .ConsultantTabPanel3{
    background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
    background-repeat: no-repeat; 
    background-size: cover; 
    max-width: 100%;
    width:1270px ;
 }
 .ConsultantTabPanel4{
    background-image: url("https://img.freepik.com/premium-photo/water-color-abstract-background-painting_23-2148117961.jpg?size=626&ext=jpg&ga=GA1.2.1642244458.1661524207");
   background-repeat: no-repeat; 
   background-size: cover;
   max-width: 100%;
   width:1270px ;
 }
 
 .consultantIcon1{   
    color: #23BDB8 !important; 
    margin-top: -5px;
    
 }
 .consultantIcon2{   
    color: #23BDB8 !important; 
    margin-top: -5px;
 }
 .consultantIcon3{   
    color: #23BDB8 !important; 
    margin-top: -5px;
 }
 .consultantIcon4{   
    color: #23BDB8 !important; 
    margin-top: -5px;
 }
 .consultantIcon5{   
    color: #23BDB8 !important;  
    position: absolute;
    margin-left: -30px;
    margin-top: -5px;
 }

 .admincard{
    background-color: #F5FFFA;
    border-radius: 10px;
    height: 100px;
 }

.paraadmintab{
    color:#4A6F8A !important;
    font-weight: 650 !important;
}
.sidebaradmin{
   
    background-color: #23BDB8;
    border-radius: 10px;
    text-align: center !important;

}
.sidebaradmin1{
   margin-top: 20px;
    background-color: #23BDB8;
    border-radius: 10px;
    text-align: center !important;

}
.sidebaradmincontent{
    display: flex;
    color:#4A6F8A;
    font-weight: 650;
    text-align: center !important;
   padding-top: 10px;
   padding-left: 70px;
}
.sidebaradminpara{
    color:white;
    font-size: 30px !important;
    margin-left: 50px; 
}
.sidebaruse{
    font-size: 16px;
    color:#4A6F8A;
margin-top: 18px;
margin-left: 5px;
   
  

}
.graphadminhe{
    font-size: 35px;
    color:#4A6F8A !important;
    font-weight: 650 !important;
    font-family: 'Poppins', sans-serif !important;
    padding-top: 20px;
}
.gris{
    margin-top: 10px;
}
.admintabviews{
    text-align: left !important;
    padding-left: 10px;
    padding-top: 30px;
    font-weight: 650 !important;
    }
    #visi{
        margin-top: -2px !important;
    }
.sidebaradminhead{
    color:white;
    font-weight: 550;
    font-size: 25px;  
    padding-top: 30px;
}
.sidebaradmincontentround{
   padding-bottom: 40px;
    height:300px;
    width:250px;
    border-radius: 20px;
}
.graphadmin{
    background-color:white  ;
    box-shadow: 5px 10px 18px #888888;
    margin-top: 40px;
    width:100%;

    height:auto;
}
@media only screen and (max-width:1024px){
    .sidebaruse{
        font-size: 14px;
    }
    .graphadmin{
      margin-top: 30px;
    }
}
@media only screen and (max-width:821px){
   .admincard{
      margin-top: 20px;
    }
    .gris{
      margin-left: 30px;
    }
    .graphadminhe{
      margin-top: 30px;
    }
}
@media only screen and (max-width:768px){
    .sidebaruse{
        font-size: 18px;
    }
    .gris{
      margin-left: 30px;
    }
    .admincard{
      margin-top: 20px;
    }
    .graphadminhe{
      margin-top: 30px;
    }
    .graphadmin{
      margin-top: 30px;
    }
   
}
@media only screen and (max-width:541px){
   .admintabviews{
      text-align: left !important;
      padding-left: 30%;
      padding-top: 30px;
      font-weight: 650 !important;
      } 
      .graphadminhe{
         font-size: 25px;
       }
       .gris{
         margin-left: 15px;
       }
}
@media only screen and (max-width:426px){
    .sidebaruse{
        font-size: 16px;
        text-align: center;
    }
    .admincard{
        background-color: #F5FFFA;
        border-radius: 10px;
        height: 100px;
        width:250px !important;
        margin-top: 10px;
     }
     .admintabviews{
    text-align: left !important;
    padding-left: 30%;
    padding-top: 30px;
    font-weight: 650 !important;
    }
    .gris{
      margin-left: 20px;
    }
    .graphadminhe{
      font-size: 25px;
    }
}
@media only screen and (max-width:376px){

  .graphadminhe{
   font-size: 20px;
 }
 .gris{
   margin-left: 15px;
 }
}
@media only screen and (max-width:281px){

   .graphadminhe{
    font-size: 20px;
  }
  .gris{
    margin-left: 15px;
  }
  .admintabviews{
   text-align: left !important;
   padding-left: 20%;
   padding-top: 30px;
   font-weight: 650 !important;
   }
 }


 @media only screen and (max-width:1920px) and (min-width:1601px){
   .consultantTab{
      width: 350px;  
   }
   .consultantDash{  
      padding-left: 70px !important;  
      padding-right: 180px !important; 
      font-size: 20px !important; 
      margin-left:    0px !important; 
      align-self:flex-start  !important;
   }
   .consultantAppt{
    align-self:flex-start  !important;
      margin-top: 30px !important; 
      padding-left: 32px !important;  
      padding-right: 180px !important; 
      font-size: 20px !important; 
      margin-left: 15px !important; 
   }
   .consultantHis{
    align-self:flex-start  !important;
      margin-top: 30px !important; 
      padding-left: 90px !important;  
      padding-right: 200px !important; 
      font-size: 20px !important; 
      margin-left: -10px !important; 
   }
   .consultantProf{
      margin-top: 30px !important; 
      padding-left: 80px !important;  
      padding-right: 200px !important; 
      font-size: 20px !important; 
      margin-left: -10px !important; 
   }
   button.consultantOut{  
      font-size: 20px !important;
      font-weight: 650 !important;
      margin-left: 95px !important;  
      margin-top: 50px;
      cursor: pointer;
   }
   .ConsultantTabPanel1,.ConsultantTabPanel2,.ConsultantTabPanel3,.ConsultantTabPanel4{ 
       width:1580px ;
      height: 750px;
      max-width:100%;
      max-height: 100%;
    }
    .consultantIcon1{    
      margin-top: -5px;
      font-size: 30px !important;
   }
   .consultantIcon2{    
      margin-top: -5px;
      font-size: 30px !important;   
   }
   .consultantIcon3{     
      margin-top: -5px;
      font-size: 30px !important;
   }
   .consultantIcon4{    
      margin-top: -5px;
      font-size: 30px !important;
   }
   .consultantIcon5{      
      margin-left: -35px;
      margin-top: -5px;
      font-size: 30px !important;
   }
   .consultantCard1{ 
      margin-left: 70px; 
   }
   .consultantCard2{ 
      margin-left: 70px; 
   }
   .consultantCard3{ 
      margin-left: 75px; 
   }
   .consultantCard4{
      width: 860px; 
      margin-left: 70px; 
   }
   .consultantCard5{  
      margin-left: 330px;  
   } 
   .consultantGraph4{
      width:550px !important;
      height: 340px  ;
      margin-left: 150px;
      margin-top: 40px;
   }  
 }
 @media only screen and (max-width:1600px) and (min-width:1537px){
    .ConsultantdetBox{
        height: 850px !important; 
     }
   .consultantTab{
      width: 350px;  
      
   }
   .consultantDash{  
      padding-left: 70px !important;  
      padding-right: 180px !important; 
      font-size: 20px !important; 
      margin-left:    0px !important; 
   }
   .consultantAppt{
      margin-top: 30px !important; 
      padding-left: 90px !important;  
      padding-right: 180px !important; 
      font-size: 20px !important; 
      margin-left: 0px !important; 
   }
   .consultantHis{
      margin-top: 30px !important; 
      padding-left: 70px !important;  
      padding-right: 200px !important; 
      font-size: 20px !important; 
      margin-left: -10px !important; 
   }
   .consultantProf{
      margin-top: 30px !important; 
      padding-left: 70px !important;  
      padding-right: 200px !important; 
      font-size: 20px !important; 
      margin-left: -10px !important; 
   }
   button.consultantOut{  
      font-size: 20px !important;
      font-weight: 650 !important;
      margin-left: 90px !important;  
      margin-top: 50px;
      cursor: pointer;
   }
   .ConsultantTabPanel1,.ConsultantTabPanel2,.ConsultantTabPanel3,.ConsultantTabPanel4{ 
       width:1250px ;
      height: 850px;
      max-width:100%;
      max-height: 100%;
    }
    .consultantIcon1{    
      margin-top: -5px;
      font-size: 30px !important;
   }
   .consultantIcon2{    
      margin-top: -5px;
      font-size: 30px !important;   
   }
   .consultantIcon3{     
      margin-top: -5px;
      font-size: 30px !important;
   }
   .consultantIcon4{    
      margin-top: -5px;
      font-size: 30px !important;
   }
   .consultantIcon5{      
      margin-left: -35px;
      margin-top: -5px;
      font-size: 30px !important;
   }
   .consultantCard1{ 
      margin-left: 20px; 
   }
   .consultantCard2{ 
      margin-left: 25px; 
   }
   .consultantCard3{ 
      margin-left: 25px; 
   }
   .consultantCard4{
      width: 760px; 
      margin-left: 20px; 
   }
   .consultantCard5{  
      margin-left: 230px;  
   } 
   .consultantGraph4{
      width:550px !important;
      height: 340px  ;
      margin-left: 100px;
      margin-top: 35px;
   }
 }

 @media only screen and (max-width:1536px)  {
    .ConsultantdetBox{
        height: 850px !important; 
     }
   .consultantTab{
      width: 250px;   
   }
   .consultantDash{  
      padding-left: 40px !important;  
      padding-right: 180px !important; 
      font-size: 16px !important; 
      margin-left:    0px !important; 
   }
   .consultantAppt{
      margin-top: 0px !important; 
      padding-left: 50px !important;  
      padding-right: 180px !important; 
      font-size: 16px !important; 
      margin-left: -10px !important; 
   }
   .consultantHis{
      margin-top: 0px !important; 
      padding-left: 50px !important;  
      padding-right: 200px !important; 
      font-size: 16px !important;
      margin-left: -10px !important; 
   }
   .consultantProf{
      margin-top: 0px !important; 
      padding-left: 50px !important;  
      padding-right: 200px !important; 
      font-size: 16px !important;
      margin-left: -10px !important; 
   }
   button.consultantOut{  
      font-size: 16px !important;
      font-weight: 650 !important;
      margin-left: 60px !important;  
      margin-top: 20px;
      cursor: pointer;
   }
   .ConsultantTabPanel1,.ConsultantTabPanel2,.ConsultantTabPanel3,.ConsultantTabPanel4{ 
       width:1290px ;
      height: 850px;
      max-width:100%;
      max-height: 100%;
    }
    .consultantIcon1{    
      margin-top: -5px;
      font-size: 20px !important;
   }
   .consultantIcon2{    
      margin-top: -5px;
      font-size: 20px !important; 
   }
   .consultantIcon3{     
      margin-top: -5px;
      font-size: 20px !important;
   }
   .consultantIcon4{    
      margin-top: -5px;
      font-size: 20px !important;
   }
   .consultantIcon5{      
      margin-left: -30px;
      margin-top: -3px;
      font-size: 20px !important;
   }
   .consultantCard1{ 
      margin-left: 25px; 
   }
   .consultantCard2{ 
      margin-left: 30px; 
   }
   .consultantCard3{ 
      margin-left: 30px; 
   }
   .consultantCard4{
      width: 765px; 
      margin-left: 25px; 
   }
   .consultantCard5{  
      margin-left: 240px;  
   } 
   .consultantGraph4{
      width:550px !important;
      height: 340px  ;
      margin-left: 110px;
      margin-top: 35px;
   }
 } 
 @media only screen and (max-width:1535px) and (min-width:1441px){
    .ConsultantdetBox{
        height: 850px !important; 
     }
   .consultantTab{
      width: 250px;  
   }
   .consultantDash{  
      padding-left: 40px !important;  
      padding-right: 180px !important; 
      font-size: 16px !important; 
      margin-left:    0px !important; 
   }
   .consultantAppt{
      margin-top: 0px !important; 
      padding-left: 50px !important;  
      padding-right: 180px !important; 
      font-size: 16px !important; 
      margin-left: -10px !important; 
   }
   .consultantHis{
      margin-top: 0px !important; 
      padding-left: 50px !important;  
      padding-right: 200px !important; 
      font-size: 16px !important;
      margin-left: -10px !important; 
   }
   .consultantProf{
      margin-top: 0px !important; 
      padding-left: 50px !important;  
      padding-right: 200px !important; 
      font-size: 16px !important;
      margin-left: -10px !important; 
   }
   button.consultantOut{  
      font-size: 16px !important;
      font-weight: 650 !important;
      margin-left: 60px !important;  
      margin-top: 20px;
      cursor: pointer;
   }
   .ConsultantTabPanel1,.ConsultantTabPanel2,.ConsultantTabPanel3,.ConsultantTabPanel4{ 
       width:1290px ;
      height: 750px;
      max-width:100%;
      max-height: 100%;
    }
    .consultantIcon1{    
      margin-top: -5px;
      font-size: 20px !important;
   }
   .consultantIcon2{    
      margin-top: -5px;
      font-size: 20px !important; 
   }
   .consultantIcon3{     
      margin-top: -5px;
      font-size: 20px !important;
   }
   .consultantIcon4{    
      margin-top: -5px;
      font-size: 20px !important;
   }
   .consultantIcon5{      
      margin-left: -30px;
      margin-top: -3px;
      font-size: 20px !important;
   }
   .consultantCard1{ 
      margin-left: 25px; 
   }
   .consultantCard2{ 
      margin-left: 30px; 
   }
   .consultantCard3{ 
      margin-left: 30px; 
   }
   .consultantCard4{
      width: 765px; 
      margin-left: 25px; 
   }
   .consultantCard5{  
      margin-left: 240px;  
   } 
   .consultantGraph4{
      width:550px !important;
      height: 340px  ;
      margin-left: 110px;
      margin-top: 35px;
   }
 }
 @media only screen and (max-width:1440px) and (min-width:1368px){
   .consultantTab{
      width: 250px;  
   }
   .consultantDash{  
      padding-left: 40px !important;  
      padding-right: 180px !important; 
      font-size: 16px !important; 
      margin-left:    0px !important; 
   }
   .consultantAppt{
      margin-top: 0px !important; 
      padding-left: 50px !important;  
      padding-right: 180px !important; 
      font-size: 16px !important; 
      margin-left: -10px !important; 
   }
   .consultantHis{
      margin-top: 0px !important; 
      padding-left: 50px !important;  
      padding-right: 200px !important; 
      font-size: 16px !important;
      margin-left: -10px !important; 
   }
   .consultantProf{
      margin-top: 0px !important; 
      padding-left: 50px !important;  
      padding-right: 200px !important; 
      font-size: 16px !important;
      margin-left: -10px !important; 
   }
   button.consultantOut{  
      font-size: 16px !important;
      font-weight: 650 !important;
      margin-left: 60px !important;  
      margin-top: 20px;
      cursor: pointer;
   }
   .ConsultantTabPanel1,.ConsultantTabPanel2,.ConsultantTabPanel3,.ConsultantTabPanel4{ 
       width:1290px ;
      height: 850px;
      max-width:100%;
      max-height: 100%;
    }
    .consultantIcon1{    
      margin-top: -5px;
      font-size: 20px !important;
   }
   .consultantIcon2{    
      margin-top: -5px;
      font-size: 20px !important; 
   }
   .consultantIcon3{     
      margin-top: -5px;
      font-size: 20px !important;
   }
   .consultantIcon4{    
      margin-top: -5px;
      font-size: 20px !important;
   }
   .consultantIcon5{      
      margin-left: -30px;
      margin-top: -3px;
      font-size: 20px !important;
   }
   .consultantCard1{ 
      margin-left: 15px; 
   }
   .consultantCard2{ 
      margin-left: 20px; 
   }
   .consultantCard3{ 
      margin-left: 20px; 
   }
   .consultantCard4{
      width: 745px; 
      margin-left: 15px; 
   }
   .consultantCard5{  
      margin-left: 215px;  
   } 
   .consultantGraph4{
      width:550px !important;
      height: 340px  ;
      margin-left: 110px;
      margin-top: 35px;
   }
 }  
 @media only screen and (max-width:1367px) and (min-width:1281px){
   .consultantTab{
      width: 250px;  
   }
   .consultantDash{  
      padding-left: 40px !important;  
      padding-right: 180px !important; 
      font-size: 16px !important; 
      margin-left:    0px !important; 
   }
   .consultantAppt{
      margin-top: 0px !important; 
      padding-left: 50px !important;  
      padding-right: 180px !important; 
      font-size: 16px !important; 
      margin-left: -10px !important; 
   }
   .consultantHis{
      margin-top: 0px !important; 
      padding-left: 50px !important;  
      padding-right: 200px !important; 
      font-size: 16px !important;
      margin-left: -10px !important; 
   }
   .consultantProf{
      margin-top: 0px !important; 
      padding-left: 50px !important;  
      padding-right: 200px !important; 
      font-size: 16px !important;
      margin-left: -10px !important; 
   }
   button.consultantOut{  
      font-size: 16px !important;
      font-weight: 650 !important;
      margin-left: 60px !important;  
      margin-top: 20px;
      cursor: pointer;
   }
   .ConsultantTabPanel1,.ConsultantTabPanel2,.ConsultantTabPanel3,.ConsultantTabPanel4{ 
       width:1290px ;
      height: 850px;
      max-width:100%;
      max-height: 100%;
    }
    .consultantIcon1{    
      margin-top: -5px;
      font-size: 20px !important;
   }
   .consultantIcon2{    
      margin-top: -5px;
      font-size: 20px !important; 
   }
   .consultantIcon3{     
      margin-top: -5px;
      font-size: 20px !important;
   }
   .consultantIcon4{    
      margin-top: -5px;
      font-size: 20px !important;
   }
   .consultantIcon5{      
      margin-left: -30px;
      margin-top: -3px;
      font-size: 20px !important;
   }
   .consultantCard1{ 
      margin-left: 5px; 
   }
   .consultantCard2{ 
      margin-left: 7px; 
   }
   .consultantCard3{ 
      margin-left: 10px; 
   }
   .consultantCard4{
      width: 722px; 
      margin-left: 5px; 
   }
   .consultantCard5{  
      margin-left: 195px;  
   } 
   .consultantGraph4{
      width:550px !important;
      height: 340px  ;
      margin-left: 110px;
      margin-top: 35px;
   }
 }        
 @media only screen and (max-width:1280px) and (min-width:1201px){
   .consultantTab{
      width: 250px;  
   }
   .consultantDash{  
      padding-left: 40px !important;  
      padding-right: 180px !important; 
      font-size: 16px !important; 
      margin-left:    0px !important; 
   }
   .consultantAppt{
      margin-top: 0px !important; 
      padding-left: 50px !important;  
      padding-right: 180px !important; 
      font-size: 16px !important; 
      margin-left: -10px !important; 
   }
   .consultantHis{
      margin-top: 0px !important; 
      padding-left: 50px !important;  
      padding-right: 200px !important; 
      font-size: 16px !important;
      margin-left: -10px !important; 
   }
   .consultantProf{
      margin-top: 0px !important; 
      padding-left: 50px !important;  
      padding-right: 200px !important; 
      font-size: 16px !important;
      margin-left: -10px !important; 
   }
   button.consultantOut{  
      font-size: 16px !important;
      font-weight: 650 !important;
      margin-left: 60px !important;  
      margin-top: 20px;
      cursor: pointer;
   }
   .ConsultantTabPanel1,.ConsultantTabPanel2,.ConsultantTabPanel3,.ConsultantTabPanel4{ 
       width:1290px ;
      height: 750px;
      max-width:100%;
      max-height: 100%;
    }
    .consultantIcon1{    
      margin-top: -5px;
      font-size: 20px !important;
   }
   .consultantIcon2{    
      margin-top: -5px;
      font-size: 20px !important; 
   }
   .consultantIcon3{     
      margin-top: -5px;
      font-size: 20px !important;
   }
   .consultantIcon4{    
      margin-top: -5px;
      font-size: 20px !important;
   }
   .consultantIcon5{      
      margin-left: -30px;
      margin-top: -3px;
      font-size: 20px !important;
   }
   .consultantCard1{ 
      margin-left: 0px; 
      width: 330px;
   }
   .consultantCard2{ 
      margin-left: 5px; 
      width: 330px;
   }
   .consultantCard3{ 
      margin-left: 10px; 
      width: 330px;
   }
   .consultantCard4{
      width: 680px; 
      margin-left: 0px; 
   }
   .consultantCard5{  
      margin-left: 185px; 
      width: 330px; 
   } 
   .consultantGraph4{
      width:550px !important;
      height: 340px  ;
      margin-left: 70px;
      margin-top: 35px;
   }
 }      
 @media only screen and (max-width:1200px) and (min-width:1025px){
   .consultantTab{
      width: 300px;  
   }
   .consultantDash{  
      padding-left: 40px !important;  
      padding-right: 180px !important; 
      font-size: 16px !important; 
      margin-left:    0px !important; 
   }
   .consultantAppt{
      margin-top: 0px !important; 
      padding-left: 50px !important;  
      padding-right: 180px !important; 
      font-size: 16px !important; 
      margin-left: -10px !important; 
   }
   .consultantHis{
      margin-top: 0px !important; 
      padding-left: 50px !important;  
      padding-right: 200px !important; 
      font-size: 16px !important;
      margin-left: -10px !important; 
   }
   .ConsultantTabPanel1,.ConsultantTabPanel2,.ConsultantTabPanel3,.ConsultantTabPanel4{ 
       width:1290px ;
      height: 750px;
      max-width:100%;
      max-height: 100%;
    }
    .consultantIcon1{    
      margin-top: -5px;
      font-size: 20px !important;
   }
   .consultantIcon2{    
      margin-top: -5px;
      font-size: 20px !important; 
   }
   .consultantIcon3{     
      margin-top: -5px;
      font-size: 20px !important;
   }
   .consultantIcon4{    
      margin-top: -5px;
      font-size: 20px !important;
   }
   .consultantIcon5{      
      margin-left: -30px;
      margin-top: -3px;
      font-size: 20px !important;
   }
}
 
 .dupConsultant{
   margin-top: 0px !important;
}
 .consultantAccordHead1{
   color: #23BDB8;
   font-size: 18px !important;
   font-weight: 650  !important;
  margin-left: 50px !important;
  padding: 10px 0;
}
.consultantAccordHead2{
   color: #23BDB8;
   font-size: 18px !important;
   font-weight: 650  !important;
   margin-left: 50px !important;
   padding: 10px 0;
}
.consultantAccordHead3{
   color: #23BDB8;
   font-size: 18px !important ;
   font-weight: 650  !important;
   margin-left: 50px !important;
   padding: 10px 0;
}
.consultantAccordHead4{
   color: #23BDB8;
   font-size: 18px !important ;
   font-weight: 650  !important;
   margin-left: 50px !important;
   padding: 10px 0;
}
button.consultantAccordHead5{
   color: #23BDB8;
   font-size: 18px !important ;
   font-weight: 650  !important;
   margin-left: 50px !important;
   padding: 10px 0;
   background-color: white;
   border: none;
   cursor: pointer;
}
.consultantAccordIcon1{
   margin-top:0px  ; 
   position: absolute;
   margin-left: -30px;
}
.consultantAccordIcon2{
   margin-top:-3px; 
   position: absolute;
   margin-left: -30px;
}
.consultantAccordIcon3{
   margin-top:-3px; 
   position: absolute;
   margin-left: -30px;
}
.consultantAccordIcon4{
   margin-top:-3px; 
   position: absolute;
   margin-left: -30px;
}
.consultantAccordIcon5{
   margin-top:-2px !important; 
   position: absolute;
   margin-left: -30px;
}
.consultantAccordDet1{
  
   background-repeat: no-repeat; 
   background-size: cover;
   max-width: 100%;
   max-height: 100%;
   width: 1050px;
   height: 760px;
   
}
.consultantAccordDet2{
   
   background-repeat: no-repeat; 
   background-size: cover;
   max-width: 100%;
   max-height: 100%;
   width: 1050px;
   height: 760px;
   
}
.consultantAccordDet3{
   
   background-repeat: no-repeat; 
   background-size: cover;
   max-width: 100%;
   max-height: 100%;
   width: 1050px;
   height: 760px;
   
}
.consultantAccordDet4{
   
   background-repeat: no-repeat; 
   background-size: cover;
   max-width: 100%;
   max-height: 100%;
   width: 1050px;
   height: 760px;
   
} 




 
 
 




/*****************************consultant***********************************/
.admincounselorlistcard{background-color: white !important;
        box-shadow:2px 5px 12px 0 rgb(0 0 0 / 50%);
        display: flex !important;
        border-radius: 25% !important;
        margin: 20px ;
}
.admincounselorcardimg{height: 150px !important;

}
.name{font-size: .1em !important;
    color: black;
    font-weight: 100;
}

.displaycards{display:flex!important;}
